# database
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_USERNAME=root
MYSQL_DATABASE=trycatch

# JWT
JWT_SECRET=your_jwt_secret_key

# GMS
GMS_API_KEY=your_gms_api_key
GMS_BACK_BASE_URL=your_gms_back_base_url
GMS_BACK_API_MODEL=gpt-5-mini

# OpenAI API 설정
GMS_BASE_URL=your_gms_base_url

# AI 모델 설정
GUARDRAIL_MODEL=gpt-5-mini
HINT_MODEL=gpt-5-mini

# 백엔드 서버 연동 설정
BACKEND_BASE_URL=http://localhost:8081

# 프론트엔드 설정
VITE_API_BASE_URL=http://localhost:8081

# MinIO
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_ENDPOINT=http://trycatch-minio:9000
MINIO_BUCKET=trycatch

FILE_BASE_URL=https://your-api-domain.com

# hint ai 연결
AI_SERVER_URL=http://trycatch-ai:8000
