<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.ssafy.trycatch.domain.user.mapper.UserMapper">
    <select id="findSingleSuccessThemes" resultType="io.ssafy.trycatch.domain.user.dto.response.SubmissionHistoryRespDto$SubmissionHistory">
        SELECT ru.user_id AS userId,
               r.mode AS gameMode,
               t.name AS themeName,
               CONCAT_WS('/', ff.name, fb.name) AS frameworkName,
               sum(execution_time) AS executionTime,
               MAX(submitted_at) AS submittedAt
        FROM submission AS s
                 JOIN room r ON r.id = s.room_id
                 JOIN room_user ru ON ru.room_id = r.id
                 JOIN problem_framework pf ON pf.id = s.problem_framework_id
                 JOIN quest q ON q.id = pf.quest_id
                 JOIN theme t ON t.id = r.theme_id
                 LEFT JOIN framework ff ON ff.id = pf.frontend_id
                 LEFT JOIN framework fb ON fb.id = pf.backend_id
        WHERE ru.user_id = #{userId} AND s.status = 'SUCCESS' AND  s.is_deleted = 'F'
        GROUP BY s.room_id, ru.position, ff.name, fb.name
        HAVING COUNT(DISTINCT q.id) = 3
        ORDER BY s.submitted_at DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

<!--    &lt;!&ndash; 제출 기록 조회 &ndash;&gt;-->
<!--    <select id="findSubmissionHistory" resultType="io.ssafy.trycatch.domain.user.dto.response.SubmissionHistoryRespDto$SubmissionHistory">-->
<!--        SELECT-->
<!--            s.id AS submissionId,-->
<!--            r.mode AS gameMode,-->
<!--            t.name AS themeName,-->
<!--            f.name AS frameworkName,-->
<!--            s.execution_time AS executionTime,-->
<!--            s.submitted_at AS submittedAt-->
<!--        FROM submission s-->
<!--                 INNER JOIN room r ON s.room_id = r.id-->
<!--                 INNER JOIN theme t ON r.theme_id = t.id-->
<!--                 INNER JOIN problem_framework pf ON s.problem_framework_id = pf.id-->
<!--                 LEFT JOIN framework f ON f.id = COALESCE(pf.frontend_id, pf.backend_id)-->
<!--        WHERE s.user_id = #{userId}-->
<!--          AND s.status = 'SUCCESS'-->
<!--          AND s.is_deleted = 'F'-->
<!--        ORDER BY s.submitted_at DESC-->
<!--            LIMIT #{limit} OFFSET #{offset}-->
<!--    </select>-->

    <!-- 전체 개수 조회 -->
    <select id="countSubmissionHistory" resultType="long">
        SELECT COUNT(*)
        FROM submission s
        WHERE s.user_id = #{userId}
          AND s.status = 'SUCCESS'
          AND s.is_deleted = 'F'
    </select>

</mapper>